@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
}

body{
    background-color: rgb(33, 37, 41) !important;
    color : white !important;
}


/* Banner.jsx */
.banner{
    height: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.banner-info {
    width: 50%;
    margin-left : 40px;
    z-index: 1;
}

/* ::before : 실제로 존재하지 않는 가상의 요소를 만들어서 스타일을 주는 것  (div 하나가 생긴 것) */
.banner::before{
    background: linear-gradient(to right, black, transparent);
    position : absolute;
    width : 100%;
    height: 600px;
    left : 0;
    content : ""
}

/* MovieCard.jsx  */

.movie-card{
    margin-bottom: 2%;
}

.overlay{
/* 투명도를 0으로 함 */
    opacity: 0; 

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.9);
}

/* 마우스를 올리면 투명도 해제 */
.movie-card:hover .overlay{
    opacity: 1;
}

.movie-card > a{
    color: white;
    text-decoration: none;
}

.movie-card .overlay > .genres,
.movie-card .overlay > .info {
    display: flex;
    gap: 15px;
    /* gap : 행과 열 사이의 간격을 설정 */
}


/* MovieDetail.jsx */
.movie-detail{
    display: flex;
    padding: 50px;
    gap: 50px;
}

.movie-detail .poster > img {
    width: 30vw;
    height: 60vh;
}

.movie-detail h4 + div {
    display: flex;
    gap: 15px;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.movie-detail .overview {
    border-bottom: 3px solid white;
    padding-top : 20px;
    padding-bottom: 20px;
}

.movie-detail .genre {
    display: flex;
    gap : 5px;
    padding-bottom: 5%;
}

.movie-detail .genre + h1 {
    font-size: 3em;
    padding-bottom: 1%;
}

/* Detail -> Review */
.review-box {
    border: 3px solid white ;
    margin-bottom: 5%;
}

.review-item {
    border: 3px dotted white;
    margin-top: 3%;
    padding: 2%;
}

.review-item h4 {
    color: aqua;
}

.movie-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}