@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
}

#collapsible-nav-dropdown{
  color: rgb(50, 125, 190);
  font-weight: bold;
}

/* Login.jsx */
.loginForm{
  margin: 5% 20% 0% 20%;
  padding-left: 15%;
  padding-right: 15%;

}
.loginForm h1{
  margin-bottom: 5%;
}
.loginForm input{
  margin-bottom: 2%;
}
.loginForm button{
  margin-top: 3%;
}


.joinContainer{
  margin: 5% 15% 0% 15%;
  padding-left: 15%;
  padding-right: 15%;
}
.joinContainer span{
  margin-bottom: 3%;
}
.joinContainer input{
  margin-bottom: 2%;
}
.joinContainer button{
  margin-top: 5%;
}

/* aboutMeForm */
.aboutMeForm{
  height: 70vh;
  padding-bottom: 5%;
}
.profileImg{
  width: 15vw;
  height: auto;
  border-radius: 180em;
  border: 0.35em solid rgb(202, 202, 202);
}
.aboutContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 150vw;
}
.aboutText{
  padding-left: 5%;
  margin-top: 1%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Gowonhee {
  font-family: "Paperlogy-8ExtraBold";
  margin-bottom: 5%;
  font-size: 2em;
  width: 100%;
  display: flex;
}
.Gowonhee span{
  margin-left: 5%;
  margin-top: 1.5%;
  font-size: large;
  color: gray;
}
.badge img{
  margin: 1% 1% 0% 0%;
}
.aboutMe-Text{
  margin-top: 5%;
  font-family: 'TmonMonsori';
  font-size: 1.6em;
}
.contact-icons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-icons p{
  margin-top: 3%;
  margin-bottom: 0;
}

/* archiveForm */
.archiveForm{
  background: linear-gradient(45deg,#D3CCE3, #e3dcee);
  height: 70vh;
}
.link-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.otherSite{
  width: 20vw;
  height: 30vh;
  background-color:antiquewhite;
  border-radius: 3em;
  margin: 0% 1% 0% 1%;
}